{% extends 'layout.twig' %}

{% block body %}
  <h2 class="page-header">{{title}}</h2>
  {% if errors %}
      {% for error in errors %}
        <div class="alert alert-danger">{{ error.msg }}</div>
      {% endfor %}
  
  {% endif %}
                {% if user.local.email %}
                    {%set user = user.local %}
                {% endif %}
  <form method="post" action="/document">
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="title">
      </div>  
      <div class="form-group">
          <label for="link">Link</label>
          <input type="text" name="link" id="link" class="form-control" placeholder="link">
      </div>
      <div class="form-group">
          <label for="category">Category</label>
          <input type="text" name="category" id="category" class="form-control" placeholder= "category">
      </div>
       <div class="form-group">
          <label for="keywords">keywords</label>
          <input type="text" name="keywords" id="keywords" class="form-control" placeholder= "keywords">
      </div>
       <div class="form-group">
          <label for="addedBy">Added By</label>
          <input type="text" name="addedBy" id="addedBy" class="form-control" value= "{{user.email}}" readonly>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
